<div class="container-fluid">
  <div class="row">
    <h1 class="tk-lobster">UrlPipe</h1>
  </div>
  <div class="row">   
    <h2>Pipe files directly from a URL to your Dropbox account</h2>
    <p class="span5">UrlPipe will download a file from the Internet, directly to your Dropbox account &mdash; this is particularly useful if you're away from your Dropbox-ified PC, using a mobile phone or on an untrusted computer.</p>
    <p class="offset1 span3"><strong><a href="/start" class="btn btn-primary">Login to Dropbox</a></strong><br /> or <a href="http://db.tt/cZlP4Ke">sign up for an account</a></p>
  </div>
  <div class="row">
    <p class="offset6 span3"><em>Don't worry: UrlPipe only has access your <code>/Apps/UrlPipe</code> directory, not your whole Dropbox</em></p>
  </div>
</div>
