<div class="container-fluid">
  <div class="row">
    <h1 class=".tk-lobster">UrlPipe</h1>
    <h2>Pipe files directly from a URL to your Dropbox account</h2>
    <p>UrlPipe will download a file from the Internet, directly to your Dropbox account - this is particularly useful if your away from your Dropbox-ified PC, using a mobile phone or on an untrusted computer.</p>
    <p><i>Don't worry, UrlPipe only has access your /Apps/UrlPipe directory, not your whole Dropbox</i></p>
    <p><b><a href="/start">Login to Dropbox</a></b> to get started</p> or <a href="http://db.tt/cZlP4Ke">sign up for an account</a>
  </div>
</div>
