<h2>Upload &hellip;</h2>
<form method='post' action='/upload'>
  <div>
    <input type='text' name='url' id='url'/>
  </div>
  <h2>&hellip; to <%= name %>'s dropbox</h2>
  <div id="submit">
    <input type='submit' value='Upload' class='submit' />
  </div>
</form>